<h2 mat-dialog-title>Edit Account</h2>
<mat-dialog-content>
	<form *ngIf="accountForm" [formGroup]="accountForm" novalidate (ngSubmit)="onSubmit()">
		
		<mat-form-field class="field-full-width">
			<input matInput placeholder="Full Name*" formControlName="name">
			<mat-error *ngIf="f.name.errors">
		    	The full name is <strong>required</strong>
		    </mat-error>
		</mat-form-field>

		<tide-date-of-birth [(dateOfBirth)]="accountForm.value.dateOfBirth" [formGroup]="accountForm"></tide-date-of-birth>

		<p class="required">* required</p>
		
		<p class="mat-error" *ngIf="errorMessage">Error: <strong>{{errorMessage}}</strong></p>

	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button type="submit" name="submit" mat-raised-button color="primary" (click)="onSubmit()">Save</button>
  	<button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>



