<div class="accounts-list-container mat-elevation-z8">
  <mat-toolbar color="primary">
    <span>Accounts</span>
  </mat-toolbar>

  <table mat-table [dataSource]="accounts">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Date of Birth Column -->
    <ng-container matColumnDef="date-of-birth">
      <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
      <td mat-cell *matCellDef="let element"> {{ element.dateOfBirth | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button color="primary" (click)="openEditDialog(element)"><mat-icon aria-label="Edit">edit</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
