.accounts-list-container 
	width 100%
	max-width 700px
	margin 2em auto
	table
		width 100%
	.cdk-column-name, .cdk-column-date-of-birth
		width 100px
	.cdk-column-actions
		width 100px
		text-align right
	@media (max-width: 600px)
		margin 0
		.cdk-column-name, .cdk-column-date-of-birth
			width 40%
