<p>Date of Birth*</p>
<table class="table-full-width date-of-birth" cellspacing="0" [formGroup]="formGroup">
	<tr>
		<td>
			<mat-form-field>
				<mat-select formControlName="controlDay" placeholder="Day*" >
					<mat-option *ngFor="let i of dayRange" [value]="i">{{i}}</mat-option>
				</mat-select>
			</mat-form-field>
		</td>
		<td>
			<mat-form-field>
				<mat-select formControlName="controlMonth" placeholder="Month*" >
					<mat-option *ngFor="let month of months; let i = index" [value]="i">{{month}}</mat-option>
				</mat-select>
			</mat-form-field>
		</td>
		<td>
			<mat-form-field>
				<mat-select formControlName="controlYear" placeholder="Year*" >
					<mat-option *ngFor="let i of yearRange" [value]="i">{{i}}</mat-option>
				</mat-select>
			</mat-form-field>
		</td>
	</tr>
</table>
